@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Passion+One&display=swap');
.burger-menu {
    margin-left: -50%;
    position: absolute;
    width: 100vw;
    height: 100vh;
    transition: .5s;
   
}

.HomePageButton {
    margin-left: 30%;
    margin-top: 30%;

      align-items: center;
      background-color: #fff;
      border-radius: 12px;
      box-shadow: transparent 0 0 0 3px,rgba(129, 226, 11, 0.928) 0 2px 5px;
      box-sizing: border-box;
      color: #121212;
      cursor: pointer;
      display: inline-flex;
      flex: 1 1 auto;
      font-family: 'Lilita One';
      font-size: 1.2rem;
      justify-content: center;
      line-height: 1;
      padding: 1rem 1.2rem;
      text-align: center;
      transition: box-shadow .2s,-webkit-box-shadow .2s;
      white-space: nowrap;
      border: 0;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .HomePageButton:hover {
      box-shadow: #e0f409 0 0 0 3px, transparent 0 0 0 0;
    }

.MindfulnessButton {
  
        margin-top: 10%;
        margin-left: 30%;
      align-items: center;
      background-color: #fff;
      border-radius: 12px;
      box-shadow: transparent 0 0 0 3px,rgba(129, 226, 11, 0.928) 0 2px 5px;
      box-sizing: border-box;
      color: #121212;
      cursor: pointer;
      display: inline-flex;
      flex: 1 1 auto;
      font-family: 'Lilita One';
      font-size: 1.2rem;
      justify-content: center;
      line-height: 1;
      padding: 1rem 1.2rem;
      text-align: center;
      transition: box-shadow .2s,-webkit-box-shadow .2s;
      white-space: nowrap;
      border: 0;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .MindfulnessButton:hover {
      box-shadow: #e0f409 0 0 0 3px, transparent 0 0 0 0;

}  