@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Passion+One&display=swap');

.home-page {
    position: relative;
    display: block;
    height: 100vh;
    background: #100528;
}
.home-page {
    position: relative;
    display: block;
    height: 100vh;
    background: #100528;
    overflow: hidden;
}
.title-home {
    font-family: 'Lilita One';
    font-size: 20px;
    font-weight: lighter;
    color: #deddd7;
    z-index: -1;
    margin-top: 0.5em;
    text-shadow: 1px 1px 1px rgb(181, 172, 73);

}
